/* .App {
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpaperaccess.com%2Fcoruscant&psig=AOvVaw09bJ3tMewJZAfbv-BJiVgR&ust=1654267104294000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCPjniqz_jvgCFQAAAAAdAAAAABB3');
} */

body{
  background-image: url('https://wallpaperaccess.com/full/2418844.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
